body{
	display: flex;
	flex-direction: column;
	margin: 0ex;
	flex: 6;
}
#head{
	display: flex;
	flex-direction: row;
	flex:2;
	background-color:lightgreen; 
}
#right-head{
	display: flex;
	flex-direction: column;
	flex:0.75;
	align-items: center;
}
#left-head{display: flex;
	flex-direction: column;
	flex:1.25;}
img[src="img/logo.png"]{border-radius: 50%;	align-items: center; margin-left: 100px;}
text{margin-top:25px; font-size: 25px;}


#head-menu{
	display: flex;
	flex-direction: row;
	flex:6;
	align-items: center;
	background-color: lightgreen}
.menu,.menu-b{
	flex: 1;
	align-items: center;
}
#menu-btn{
	 border: 1px solid black;font-size: 25px;background-color: lightgreen;
	font-size: 25px;
}
input[type="button"]{background-color: lightgreen; border: 0px;font-size: 25px;}
input[type="button"]:hover{
	background-color: lightblue;
}


#body{
	display: flex;
	flex-direction: column;
	flex: 8;
}
.conn{
	display: flex;
	flex-direction: row;
	flex:1;
	margin-top: 2px;
	margin-top: 2px;
}
.name,.photo{
	display: flex;
	flex-direction: column;
	flex:1;
	text-align: start;
}
h1[name="conn"]{
	margin: 0ex;
    align-self: baseline;
    font-size: 25px;
}
.photo{
	justify-content: flex-end;
}
img:mousehover{
	justify-content: flex-end;

}
img:hover{
	margin-top:1in;
	border: 2px solid black;
	border-radius: 50%;
	transform: scale(2.5);
	height: 100px;
	width: 100px;
}
#footer{
	margin-bottom: 0px;
	display: flex;
	flex:3;
	flex-direction: row; 
	background-color: lightyellow;
	bottom:0px;
}
.footer{flex: 1; display: flex;flex-direction: column;}