@media only screen and (max-width: 980px){
input{
display:flex;
flex-direction:row;
margin:25px;
width:90%;
height:auto;
font-size:0.57in;
border:3px solid;
}
input[type="submit"]{
width:auto;
margin-left:1.5in;
font-size:0.57in;
border:1px solid;
height:auto;
}
body{
margin:5%;
margin-top:40%;
font-size:1in;
margin-bottom:0px;
}
}
@media only screen and (min-width: 981px){
input{
display:flex;
flex-direction:row;
margin:25px;
width:9in;
height:0.5in;
font-size:0.45in;
}
input[type="submit"]{
width:auto;
height:auto;
margin-left:1in;
}
body{
margin:25%;
margin-top:10%;
font-size:0.3in;
margin-bottom:0px;
}
}